/*DEFAULT STYLING*/
html,
body {
  font-size: 62.5%; /* Now 10px = 1rem*/
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Contrail One", cursive;
  background-color: rgb(75, 75, 90);
  color: #e6e6e6;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background-color: rgb(75, 75, 90);
}

/*TEXT AND MAIN ELEMENTS*/

h1,
h2,
h3 {
  text-align: center;
  line-height: 3rem;
  font-weight: 100;
}

h1,
h2 {
  color: #362525;
  text-shadow: -3px 1px 12px rgba(153, 153, 153, 1);
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 1.8rem;
}

/*HEADER*/

.titles {
  border-radius: 1.5rem;
  background-color: rgba(158, 151, 52, 0.7);
  border: 1px solid rgba(158, 151, 52, 0.7);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 120rem;
  margin: 0 auto;
}

.header {
  padding: 2rem;
  background-color: #e6e6e6;
}

.game-container {
  display: flex;
  flex-direction: column;
}

/*SCORES*/

.scores {
  margin-top: 3.5rem;
  align-self: center;
  font-size: 2.2rem;
  color: #e6e6e6;
}

.score,
.user-count,
.comp-count {
  padding: 2rem;
}

.user-count,
.comp-count {
  color: rgb(201, 57, 57);
  font-size: 2.8rem;
  background-color: #e6e6e6;
  padding: 0.8rem;
  padding-bottom: 0.4rem;
  border-radius: 0.5rem;
  margin-top: 2rem;
  margin-left: 2rem;
}

/*SELECT A PLAY*/

.select {
  display: flex;
  flex-direction: column;
  border: 2px solid #e6e6e6;
  border-radius: 1.5rem;
  margin: 3rem auto;
  padding: 2rem;
  padding-top: 0;
}

.play-selection {
  display: flex;
  align-self: center;
}

.play {
  margin-right: 2rem;
}

.play:last-of-type {
  margin: 0;
}

.play img {
  max-width: 12rem;
  transition: all 0.3s ease-in-out;
}

.play img:hover {
  transform: scale(1.1);
}

button,
input[type="submit"],
input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

/*ROUND RESULTS*/

.round-results {
  display: flex;
  align-self: center;
}

.results-img-container {
  display: flex;
}

.winner-msg {
  color: #e6e6e6;
  text-align: center;
  margin: 2.4rem;
  font-size: 2rem;
}

.vs {
  position: relative;
  top: 5.2rem;
  font-size: 5rem;
  padding: 0 5.2rem;
  color: #e6e6e6;
}

.play-img {
  max-width: 25rem;
}

/*WINNING SCREEN*/

.winner {
  display: flex;
  justify-content: center;
  margin-top: 5.5rem;
  display: none;
}

.play-again {
  display: none;
  margin: 3rem auto;
  font-size: 1.6rem;
  background-color: rgba(158, 151, 52, 0.7);
  padding: 1.5rem;
  border-radius: 0.5rem;
  border: 0.2rem solid #e6e6e6;
  transition: all 0.3s ease-in-out;
}

.play-again:hover {
  transform: scale(1.1);
}

.game-over {
  font-size: 4.2rem;
  color: rgb(201, 57, 57);
  position: relative;
  top: 2rem;
}

/*RESPONSIVE ELEMENT*/

/*For tablets and small devices*/

@media only screen and (max-width: 762px) {
  h1,
  h2,
  h3 {
    line-height: 2.5rem;
  }
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.6rem;
  }

  .winner-msg {
    margin: 3rem;
    margin-bottom: 1rem;
  }

  .scores {
    font-size: 2rem;
  }
  .score,
  .user-count,
  .comp-count {
    padding: 0.8rem;
  }

  .user-count,
  .comp-count {
    font-size: 2.2rem;
    padding-bottom: 0.4rem;
  }

  .vs {
    top: 4rem;
    font-size: 3.5rem;
    padding: 0 3rem;
  }

  .round-results {
    margin-top: 2rem;
  }

  .play-img {
    max-width: 19rem;
  }

  .select {
    margin: 4rem auto;
  }

  .play img {
    max-width: 9rem;
  }

  .game-over {
    font-size: 4.2rem;
  }
}

/*For phones and small tablets*/

@media only screen and (max-width: 500px) {
  .winner-msg {
    margin: 3rem;
    margin-bottom: 1rem;
  }

  h3 {
    font-size: 1.6rem;
  }
  h1,
  h2,
  h3 {
    line-height: 2.5rem;
  }
  h1 {
    font-size: 3.4rem;
  }

  h2 {
    font-size: 1.8rem;
  }

  .scores {
    font-size: 1.6rem;
    margin-top: 6rem;
    margin-bottom: 3.5rem;
  }

  .user-count,
  .comp-count {
    font-size: 1.8rem;
    font-weight: 400;
    padding: 0.6rem;
    padding-bottom: 0.4rem;
    margin-left: 1.6rem;
  }

  .vs {
    top: 3.2rem;
    font-size: 2.5rem;
    padding: 0 1rem;
  }

  .round-results {
    margin-top: 1rem;
    margin-bottom: 3.5rem;
  }

  .play-img {
    max-width: 15rem;
  }

  .winner-msg {
    font-size: 1.6rem;
  }

  .select {
    margin: 4rem auto;
  }

  .play img {
    max-width: 8rem;
  }

  .game-over {
    font-size: 3.2rem;
    margin: 2rem;
  }
}

/*For extra small phones*/

@media only screen and (max-width: 348px) {
  .score,
  .user-count,
  .comp-count {
    padding: 0.4rem;
  }

  .scores {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: 1.6rem;
  }

  .user-count,
  .comp-count {
    font-size: 1.6rem;
    margin-left: 1.0rem;
  }

  .winner-msg {
    font-size: 1.5rem;
    margin-top: 1rem;
  }

  .round-results {
    margin-top: 1rem;
    margin-bottom: 1rem;
    flex-direction: column;
  }

  .play-img {
    max-width: 15rem;
  }

  .play img {
    max-width: 7rem;
  }

  h3 {
    font-size: 1.6rem;
    line-height: 0.5rem;
  }

  .select {
    padding: 0.8rem;
    padding-top: 0.4rem;
    margin-top: 1.5rem;
  }

  .play {
    margin-right: 1rem;
  }

  .game-over {
    font-size: 3.2rem;
    margin: 2rem;
  }
}

/*END*/
