/*DEFAULT STYLING*/
:root {
  --main-gray: #e6e6e6;
}

html,
body {
  font-size: 62.5%; /* Now 10px = 1rem*/
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Contrail One", cursive;
  background-color: rgb(75, 75, 90);
  color: var(--main-gray);
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background-color: rgb(75, 75, 90);
}

/*TEXT AND MAIN ELEMENTS*/

h1,
h2,
h3 {
  text-align: center;
  line-height: 30px;
  font-weight: 100;
}

h1,
h2 {
  color: #362525;
  text-shadow: -3px 1px 12px rgba(153, 153, 153, 1);
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 18px;
}

/*HEADER*/

.titles {
  border-radius: 15px;
  background-color: rgba(158, 151, 52, 0.7);
  border: 1px solid rgba(158, 151, 52, 0.7);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  padding: 20px;
  background-color: #e6e6e6;
}

.game-container {
  display: flex;
  flex-direction: column;
}

/*SCORES*/

.scores {
  margin-top: 35px;
  align-self: center;
  font-size: 22px;
  color: #e6e6e6;
}

.score,
.user-count,
.comp-count {
  padding: 20px;
}

.user-count,
.comp-count {
  color: rgb(201, 57, 57);
  font-size: 28px;
  background-color: #e6e6e6;
  padding: 8px;
  padding-bottom: 4px;
  border-radius: 5px;
  margin-top: 20px;
  margin-left: 20px;
}

/*SELECT A PLAY*/

.select {
  display: flex;
  flex-direction: column;
  border: 2px solid #e6e6e6;
  border-radius: 15px;
  margin: 30px auto;
  padding: 20px;
  padding-top: 0;
}

.play-selection {
  display: flex;
  align-self: center;
}

.play {
  margin-right: 20px;
}

.play:last-of-type {
  margin: 0;
}

.play img {
  max-width: 120px;
  transition: all 0.3s ease-in-out;
}

.play img:hover {
  transform: scale(1.1);
}

button,
input[type="submit"],
input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

/*ROUND RESULTS*/

.round-results {
  display: flex;
  align-self: center;
}

.results-img-container {
  display: flex;
}

.winner-msg {
  color: #e6e6e6;
  text-align: center;
  margin: 24px;
}

.vs {
  position: relative;
  top: 52px;
  font-size: 50px;
  padding: 0 52px;
  color: #e6e6e6;
}

.play-img {
  max-width: 250px;
}

/*WINNING SCREEN*/

.winner {
  display: flex;
  justify-content: center;
  margin-top: 55px;
  display: none;
}

.play-again {
  display: none;
  margin: 30px auto;
  background-color: rgba(158, 151, 52, 0.7);
  padding: 15px;
  border-radius: 5px;
  border: 2px solid #e6e6e6;
  transition: all 0.3s ease-in-out;
}

.play-again:hover {
  transform: scale(1.1);
}

.game-over {
  font-size: 42px;
  color: rgb(201, 57, 57);
  position: relative;
  top: 20px;
}

/*RESPONSIVE ELEMENT*/

/*For tablets and small devices*/

@media only screen and (max-width: 762px) {
  h1,
  h2,
  h3 {
    line-height: 25px;
  }
  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 16px;
  }

  .winner-msg {
    margin: 30px;
    margin-bottom: 10px;
  }

  .scores {
    font-size: 20px;
  }
  .score,
  .user-count,
  .comp-count {
    padding: 8px;
  }

  .user-count,
  .comp-count {
    font-size: 22px;
    padding-bottom: 4px;
  }

  .vs {
    top: 40px;
    font-size: 35px;
    padding: 0 30px;
  }

  .round-results {
    margin-top: 20px;
  }

  .play-img {
    max-width: 190px;
  }

  .select {
    margin: 40px auto;
  }

  .play img {
    max-width: 90px;
  }
}

/*For phones and small tablets*/

@media only screen and (max-width: 500px) {
  .winner-msg {
    margin: 30px;
    margin-bottom: 10px;
  }

  h3 {
    font-size: 16px;
  }
  h1,
  h2,
  h3 {
    line-height: 25px;
  }
  h1 {
    font-size: 34px;
  }

  h2 {
    font-size: 18px;
  }

  .scores {
    font-size: 16px;
    margin-top: 60px;
    margin-bottom: 35px;
  }

  .user-count,
  .comp-count {
    font-size: 20px;
    font-weight: 600;
    padding: 6px;
    padding-bottom: 4px;
  }

  .vs {
    top: 32px;
    font-size: 25px;
    padding: 0 10px;
  }

  .round-results {
    margin-top: 10px;
    margin-bottom: 35px;
  }

  .play-img {
    max-width: 150px;
  }

  .winner-msg {
    font-size: 16px;
  }

  .select {
    margin: 40px auto;
  }

  .play img {
    max-width: 80px;
  }
}

/*For extra small phones*/

@media only screen and (max-width: 348px) {
  .score {
    padding: 4px;
  }

  .scores {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 16px;
  }

  .user-count,
  .comp-count {
    font-size: 16px;
    margin-left: 8px;
  }

  .winner-msg {
    font-size: 15px;
    margin-top: 10px;
  }

  .round-results {
    margin-top: 10px;
    margin-bottom: 10px;
    flex-direction: column;
  }

  .play-img {
    max-width: 150px;
  }

  .play img {
    max-width: 70px;
  }

  h3 {
    font-size: 16px;
    line-height: 5px;
  }

  .select {
    padding: 8px;
    padding-top: 4px;
    margin-top: 15px;
  }

  .play {
    margin-right: 10px;
  }
}

/*END*/
